<!-- stylesheet for rendering BMS maps -->
<!-- mainframe style, black background, multi-color text -->

div#screen
{
   margin: 0px;
   padding: 0px;
   border: 0px;
   width: 59.1em;
}

div#floatfix
{
   margin: 0px;
   padding: 0px;
   border: 0px;
   float: left;
}

div#screenimage
{
   position: relative;
   border-style: outset;
   background-color: #000000;
   color: green;
   margin: 0px;
   padding: 0px;
   font-family: 'PT Mono', 'Courier New';
   font-size: 10pt;
   width: 49.2em;
   height: 42.7em;
   border-color: #ECECEC;
}

input.mapfield
{
   font-family: 'PT Mono', 'Courier New';
   font-size: 10pt;
   background-color: #000000;
   color: #00FF00;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   box-shadow: 0px 0px 2px 0px white;
}

pre
{
   font-family: 'PT Mono', 'Courier New';
   font-size: 10pt;
   margin: 0px;
   padding: 0px;
}

.norm { font-weight: normal; border-bottom-style: none; }
.brt { font-weight: bold; border-bottom-style: none; color: white; }
.blink { font-style: italic; border-bottom-style: none; }
.underline { border-bottom-style: solid; border-bottom-width: 1px; }

pre.over {} /* border-top: medium solid */
pre.under {} /* border-bottom: medium solid */
pre.left {} /* border-left: medium solid */
pre.right {} /* border-right: medium solid */
pre.box {} /* border: medium solid */

.bluefg {color: deepskyblue !important;}
.redfg {color: red !important;}
.pinkfg {color: #FF1498 !important;}
.greenfg {color: #00FF00 !important;}
.turquoisefg {color: #00FFFF !important;}
.yellowfg {color: #FFFF00 !important;}
.blackfg {color: black !important;}
.deepbluefg {color: navy !important;}
.orangefg {color: #FFA500 !important;}
.purplefg {color: purple !important;}
.palegreenfg {color: #98FB98 !important;}
.paleturquoisefg {color: #AFEEEE !important;}
.greyfg {color: gray !important;}
.whitefg {color: white !important;}
.neutral1fg {color: white !important;}
.neutral2fg {color: white !important;}

/* Do NOT mark as !important, so this can be overridden */
.defaultfg {color: white; }

/* The same colors as defined above but for reverse mode */
.bluefg.reverse {color: black !important; background-color: deepskyblue !important;}
.redfg.reverse {color: black !important; background-color: red !important;}
.pinkfg.reverse {color: black !important; background-color: #FF1498 !important;}
.greenfg.reverse {color: black !important; background-color: #00FF00 !important;}
.turquoisefg.reverse {color: black !important; background-color: #00FFFF !important;}
.yellowfg.reverse {color: black !important; background-color: #FFFF00 !important;}
.blackfg.reverse {color: black !important; background-color: black !important;}
.deepbluefg.reverse {color: black !important; background-color: navy !important;}
.orangefg.reverse {color: black !important; background-color: #FFA500 !important;}
.purplefg.reverse {color: black !important; background-color: purple !important;}
.palegreenfg.reverse {color: black !important; background-color: #98FB98 !important;}
.paleturquoisefg.reverse {color: black !important; background-color: #AFEEEE !important;}
.greyfg.reverse {color: black !important; background-color: gray !important;}
.whitefg.reverse {color: black !important; background-color: white !important;}
.neutral1fg.reverse {color: black !important; background-color: white !important;}
.neutral2fg.reverse {color: black !important; background-color: white !important;}

.line25 { position: absolute; bottom: 0em; }
.line24 { position: absolute; bottom: 1.7em; }
.line23 { position: absolute; bottom: 3.4em; }
.line22 { position: absolute; bottom: 5.1em; }
.line21 { position: absolute; bottom: 6.8em; }
.line20 { position: absolute; bottom: 8.5em; }
.line19 { position: absolute; bottom: 10.2em; }
.line18 { position: absolute; bottom: 11.9em; }
.line17 { position: absolute; bottom: 13.6em; }
.line16 { position: absolute; bottom: 15.3em; }
.line15 { position: absolute; bottom: 17.0em; }
.line14 { position: absolute; bottom: 18.7em; }
.line13 { position: absolute; bottom: 20.4em; }
.line12 { position: absolute; bottom: 22.1em; }
.line11 { position: absolute; bottom: 23.8em; }
.line10 { position: absolute; bottom: 25.5em; }
.line9 { position: absolute; bottom: 27.2em; }
.line8 { position: absolute; bottom: 28.9em; }
.line7 { position: absolute; bottom: 30.6em; }
.line6 { position: absolute; bottom: 32.3em; }
.line5 { position: absolute; bottom: 34.0em; }
.line4 { position: absolute; bottom: 35.7em; }
.line3 { position: absolute; bottom: 37.4em; }
.line2 { position: absolute; bottom: 39.1em; }
.line1 { position: absolute; bottom: 40.8em; }

.col1 { left: 0.3em; }
.col2 { left: 0.9em; }
.col3 { left: 1.5em; }
.col4 { left: 2.1em; }
.col5 { left: 2.7em; }
.col6 { left: 3.3em; }
.col7 { left: 3.9em; }
.col8 { left: 4.5em; }
.col9 { left: 5.1em; }
.col10 { left: 5.7em; }
.col11 { left: 6.3em; }
.col12 { left: 6.9em; }
.col13 { left: 7.5em; }
.col14 { left: 8.1em; }
.col15 { left: 8.7em; }
.col16 { left: 9.3em; }
.col17 { left: 9.9em; }
.col18 { left: 10.5em; }
.col19 { left: 11.1em; }
.col20 { left: 11.7em; }
.col21 { left: 12.3em; }
.col22 { left: 12.9em; }
.col23 { left: 13.5em; }
.col24 { left: 14.1em; }
.col25 { left: 14.7em; }
.col26 { left: 15.3em; }
.col27 { left: 15.9em; }
.col28 { left: 16.5em; }
.col29 { left: 17.1em; }
.col30 { left: 17.7em; }
.col31 { left: 18.3em; }
.col32 { left: 18.9em; }
.col33 { left: 19.5em; }
.col34 { left: 20.1em; }
.col35 { left: 20.7em; }
.col36 { left: 21.3em; }
.col37 { left: 21.9em; }
.col38 { left: 22.5em; }
.col39 { left: 23.1em; }
.col40 { left: 23.7em; }
.col41 { left: 24.3em; }
.col42 { left: 24.9em; }
.col43 { left: 25.5em; }
.col44 { left: 26.1em; }
.col45 { left: 26.7em; }
.col46 { left: 27.3em; }
.col47 { left: 27.9em; }
.col48 { left: 28.5em; }
.col49 { left: 29.1em; }
.col50 { left: 29.7em; }
.col51 { left: 30.3em; }
.col52 { left: 30.9em; }
.col53 { left: 31.5em; }
.col54 { left: 32.1em; }
.col55 { left: 32.7em; }
.col56 { left: 33.3em; }
.col57 { left: 33.9em; }
.col58 { left: 34.5em; }
.col59 { left: 35.1em; }
.col60 { left: 35.7em; }
.col61 { left: 36.3em; }
.col62 { left: 36.9em; }
.col63 { left: 37.5em; }
.col64 { left: 38.1em; }
.col65 { left: 38.7em; }
.col66 { left: 39.3em; }
.col67 { left: 39.9em; }
.col68 { left: 40.5em; }
.col69 { left: 41.1em; }
.col70 { left: 41.7em; }
.col71 { left: 42.3em; }
.col72 { left: 42.9em; }
.col73 { left: 43.5em; }
.col74 { left: 44.1em; }
.col75 { left: 44.7em; }
.col76 { left: 45.3em; }
.col77 { left: 45.9em; }
.col78 { left: 46.5em; }
.col79 { left: 47.1em; }
.col80 { left: 47.7em; }

.len1 { width: 0.6em; }
.len2 { width: 1.2em; }
.len3 { width: 1.8em; }
.len4 { width: 2.4em; }
.len5 { width: 3.0em; }
.len6 { width: 3.6em; }
.len7 { width: 4.2em; }
.len8 { width: 4.8em; }
.len9 { width: 5.4em; }
.len10 { width: 6.0em; }
.len11 { width: 6.8em; }
.len12 { width: 7.2em; }
.len13 { width: 7.8em; }
.len14 { width: 8.4em; }
.len15 { width: 9.0em; }
.len16 { width: 9.6em; }
.len17 { width: 10.2em; }
.len18 { width: 10.8em; }
.len19 { width: 11.4em; }
.len20 { width: 12.0em; }
.len21 { width: 12.6em; }
.len22 { width: 13.2em; }
.len23 { width: 13.8em; }
.len24 { width: 14.4em; }
.len25 { width: 15.0em; }
.len26 { width: 15.6em; }
.len27 { width: 16.2em; }
.len28 { width: 16.8em; }
.len29 { width: 17.4em; }
.len30 { width: 18.0em; }
.len31 { width: 18.6em; }
.len32 { width: 19.2em; }
.len33 { width: 19.8em; }
.len34 { width: 20.4em; }
.len35 { width: 21.0em; }
.len36 { width: 21.6em; }
.len37 { width: 22.2em; }
.len38 { width: 22.8em; }
.len39 { width: 23.4em; }
.len40 { width: 24.0em; }
.len41 { width: 24.6em; }
.len42 { width: 25.2em; }
.len43 { width: 25.8em; }
.len44 { width: 26.4em; }
.len45 { width: 27.0em; }
.len46 { width: 27.6em; }
.len47 { width: 28.2em; }
.len48 { width: 28.8em; }
.len49 { width: 29.4em; }
.len50 { width: 30.0em; }
.len51 { width: 30.6em; }
.len52 { width: 31.2em; }
.len53 { width: 31.8em; }
.len54 { width: 32.4em; }
.len55 { width: 33.0em; }
.len56 { width: 33.6em; }
.len57 { width: 34.2em; }
.len58 { width: 34.8em; }
.len59 { width: 35.4em; }
.len60 { width: 36.0em; }
.len61 { width: 36.6em; }
.len62 { width: 37.2em; }
.len63 { width: 37.8em; }
.len64 { width: 38.4em; }
.len65 { width: 39.0em; }
.len66 { width: 39.6em; }
.len67 { width: 40.2em; }
.len68 { width: 40.8em; }
.len69 { width: 41.4em; }
.len70 { width: 42.0em; }
.len71 { width: 42.6em; }
.len72 { width: 43.2em; }
.len73 { width: 43.8em; }
.len74 { width: 44.4em; }
.len75 { width: 45.0em; }
.len76 { width: 45.6em; }
.len77 { width: 46.2em; }
.len78 { width: 46.8em; }
.len79 { width: 47.4em; }
.len80 { width: 48.0em; }

div#buttonpanel 
{
   position: relative;
   border-style: outset;
   background-color: #000000;
   color: #000000;
   margin: 0px;
   padding: 0px;
   font-family: 'PT Mono', 'Courier New';
   font-size: 10pt;
   width: 9.3em;
   height: 42.7em;
   border-color: #ECECEC;
}

input.pkey
{
    position: relative;
    padding: 0em;
    width: 4.2em;
    height: 1.9em;
    background-color:#000000;
    color:#00ff00;
    font-weight: bold;
}

.pkey.f1 { top: +0.6em; left: +0.35em; }
.pkey.f2 { top: +0.6em; left: +0em; }
.pkey.f3 { top: +0.8em; left: +0.35em; }
.pkey.f4 { top: +0.8em; left: +0em; }
.pkey.f5 { top: +1.05em; left: +0.35em; }
.pkey.f6 { top: +1.05em; left: +0em; }
.pkey.f7 { top: +1.3em; left: +0.35em; }
.pkey.f8 { top: +1.3em; left: +0em; }
.pkey.f9  { top: +1.5em; left: +0.35em; }
.pkey.f10 { top: +1.5em; left: +0em; }
.pkey.f11 { top: +1.7em; left: +0.35em; }
.pkey.f12 { top: +1.7em; left: +0em; }
.pkey.f13 { top: +2.3em; left: +0.35em; display: none; }
.pkey.f14 { top: +2.3em; left: +0em; display: none; }
.pkey.f15 { top: +2.55em; left: +0.35em; display: none; }
.pkey.f16 { top: +2.55em; left: +0em; display: none; }
.pkey.f17 { top: +2.75em; left: +0.35em; display: none; }
.pkey.f18 { top: +2.75em; left: +0em; display: none; }
.pkey.f19 { top: +2.95em; left: +0.35em; display: none; }
.pkey.f20 { top: +2.95em; left: +0em; display: none; }
.pkey.f21 { top: +3.15em; left: +0.35em; display: none; }
.pkey.f22 { top: +3.15em; left: +0em; display: none; }
.pkey.f23 { top: +3.35em; left: +0.35em; display: none; }
.pkey.f24 { top: +3.35em; left: +0em; display: none; }

.pkey.a1 { top: +4.2em; left: +0.35em; }
.pkey.a2 { top: +4.2em; left: +0em; }
.pkey.a3 { top: +4.5em; left: +0.35em; }

input.enterkey { position: absolute; padding: 0em; width: 8.7em; height: 1.9em; bottom: +2.4em; left: +0.35em; background-color:black; color:#00ff00; font-weight: bold; }
input.clearkey { position: relative; padding: 0em; width: 8.7em; height: 1.9em; top: +5.9em; left: +0.35em; background-color:black; color:#00ff00; font-weight: bold; }
input.resetkey { position: relative; padding: 0em; width: 8.7em; height: 1.9em; top: +7.1em; left: +0.35em; background-color:black; color:#00ff00; font-weight: bold; }
